<div class="text-center">
  <div class="jumbotron">
    <h1>Welcome to <br>Find Yo Kicks!</h1>
    <p>Start with a store or a shoe</p>
  </div>
  <a href="/shoes" class="btn btn-default">Shoes</a>
  <a href="/stores" class="btn btn-default">Stores</a>
</div>
