<div class="text-center">
  <h1>Shoes</h1>
  <div class="col-md-2 col-md-offset-5">
    <% if @shoes.length > 0 %>
    <ul>
      <% @shoes.each do |shoe| %>
        <a href="/shoes/<%= shoe.id %>"><li><%= shoe.name %></li></a>
      <% end %>
    </ul>
    <% else %>
    <h2>No shoes yet, bummer</h2>
    <% end %>
    <a href="/shoes/new" class="btn-default btn btn-lg"><i class="fa fa-plus fa-lg"></i> Add shoe</a>
  </div>
</div>
