/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$title_font: 'Roboto', sans-serif;
$body_font: 'Open Sans', sans-serif;
@mixin shadow_card {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.35), -2px 2px 8px rgba(0,0,0,0.35);
}

body {
  font-family: $body_font;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-family: $title_font;
}

.jumbotron {
  @include shadow_card;
  text-align: center;
}
